---
import SocialMedia from "@/components/SocialMedia.astro";
---

<footer
  class="flex flex-col py-5 px-8 rounded-t-xl bg-apple-700 font-medium text-sm text-center w-full"
>
  <div class="flex flex-row justify-between items-center">
    <img src="LOGO_UNAHUR.webp" alt="Logo Coro UNAHUR" class="w-12 h-10" />
    <SocialMedia />
  </div><p class="pt-4">Copyright 2024 UNAHUR. All rights reserved.</p>
</footer>
