---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Coro UNAHUR">
  <main class="snap-mandatory">
    <section class="snap-always snap-center h-dvh bg-cinder-950"></section>
    <section class="snap-always snap-center h-dvh bg-cinder-950"></section>
    <section class="snap-always snap-center h-dvh bg-cinder-950"></section>
    <section class="snap-always snap-center h-dvh bg-cinder-600"></section>
    <section
      id="inscripcion"
      class="snap-always snap-center h-dvh bg-cinder-950"
    >
    </section>
  </main>
</Layout>
