---
import Layout from "@/layouts/Layout.astro";
import Conciertos from "@/sections/Conciertos.astro";
---

<Layout title="Coro UNAHUR">
  <Conciertos />
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</Layout>
