---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Coro UNAHUR">
  <main class="snap-mandatory">
    <section class="snap-always snap-center h-dvh bg-black"></section>
    <section class="snap-always snap-center h-dvh bg-white"></section>
    <section class="snap-always snap-center h-dvh bg-black"></section>
    <section class="snap-always snap-center h-dvh bg-white"></section>
  </main>
</Layout>
