---
const { text = "Button", href = "#" } = Astro.props;
---

<a
  class="rounded-3xl bg-transparent border-2 px-6 py-2 font-bold cursor-pointer border-apple-500 hover:border-apple-800 text-apple-500 hover:text-apple-800"
  href={href}
>
  {text}
</a>
