---
import Button from "./Button.astro";
import Navbar from "./Navbar.astro";
import { Arrow } from "../icons/index.astro";
---

<section>
  <Navbar class="z-[3]" />
  <section
    class="z-[1] absolute flex flex-col text-center justify-center w-dvw h-dvh bg-[url('./bgMobile.webp')] laptop:bg-[url('./bgDesktop.png')] bg-center bg-no-repeat bg-cover before:absolute before:inset-0 before:bg-gradient-to-t from-cinder-950 from-15% laptop:via-transparent laptop:to-cinder-950 laptop:to-95% to-transparent to-60% -translate-y-20"
  >
  </section>
  <section
    class="absolute z-[2] text-center w-dvw h-dvh mt-32 laptop:mt-52 px-5 text-zircon-50 gap-4 flex flex-col justify-center items-center"
  >
    <h1 class="font-bold text-6xl">CORO</h1>
    <p class="text-lg">Universidad Nacional de Hurlingham</p>
    <span class="w-1/4 max-w-40 h-[2px] bg-gray-400 rounded"></span>
    <p class="text-balance max-w-4xl">
      Nuestro coro está compuesto por estudiantes apasionados por la música, que
      se unen para crear armonías y melodías que inspiran y emocionan.
    </p>
    <Button href="#inscripcion" text="Quiero Inscribirme" color="apple" />
  </section>
  <span
    id="arrow"
    class="laptop:hidden absolute flex justify-center scale-125 bottom-7 m-auto w-dvw"
  >
    <Arrow />
  </span>
</section>

<style>
  #arrow {
    animation: bounceArrow 2s infinite;
  }

  @keyframes bounceArrow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
