---
import { Play } from "@/icons/index.astro";
const { src, srcPreview } = Astro.props;
---

<instagram-reel
  class="relative rounded-xl mouse-pointer h-[570px] w-80 snap-center bg-black shrink-0 cursor-pointer bg-center bg-[length:105%] hover:bg-[length:110%] transition-[background-size]"
  src={src}
  srcPreview={srcPreview}
>
  <span id="play-button" class="absolute bottom-0 right-0 m-5">
    <Play />
  </span>
</instagram-reel>

<script>
  class InstagramReel extends HTMLElement {
    private src: string = "";
    private srcPreview: string | null;
    private $playButton: HTMLElement | null;

    connectedCallback() {
      this.src = this.getAttribute("src") || "";
      this.srcPreview = this.getAttribute("srcPreview");
      this.style.backgroundImage = `url(${this.srcPreview})`;
      this.$playButton = this.querySelector("#play-button");

      this.setupEventListeners();
    }

    private setupEventListeners() {
      this.addEventListener("click", this.activateVideo.bind(this));
      this.addEventListener("keydown", this.handleKeyPress.bind(this));
      this.addEventListener("blur", this.resetToPreview.bind(this));
    }

    private resetToPreview() {
      this.$playButton.style.display = "block";
      this.style.backgroundImage = `url(${this.srcPreview})`;
    }

    private activateVideo() {
      this.$playButton.style.display = "none";
      this.style.backgroundImage = "unset";

      const video = this.createVideoElement();
      this.appendChild(video);

      video.addEventListener("click", (event) =>
        this.togglePlay(event, video, this.$playButton)
      );
      this.removeEventListener("click", this.activateVideo.bind(this));
    }

    private createVideoElement(): HTMLVideoElement {
      const video = document.createElement("video");
      video.src = this.src;
      video.controls = false;
      video.autoplay = true;
      video.muted = false;
      video.className = "rounded-xl p-0 w-full max-h-svh";
      return video;
    }

    private togglePlay(
      event: Event,
      video: HTMLVideoElement,
      playButton: HTMLElement
    ) {
      event.stopPropagation();
      if (video.paused) {
        video.play();
        playButton.style.display = "none";
      } else {
        video.pause();
        playButton.style.display = "block";
      }
    }

    private handleKeyPress(event: KeyboardEvent) {
      if (event.code === "Enter" || event.code === "Space") {
        this.activateVideo();
      }
    }
  }

  customElements.define("instagram-reel", InstagramReel);
</script>
