---
import { menuItems } from "@/utils/data";
import SocialMedia from "./SocialMedia.astro";
import { Menu } from "../icons/index.astro";
---

<nav class="flex flex-row justify-between items-center py-4 laptop:px-12 px-6">
  <img src="LOGO_UNAHUR.webp" alt="Logo Coro UNAHUR" class="w-12 h-10" />
  <div class="laptop:hidden"><Menu /></div>
  <div class="laptop:flex flex-row gap-4 text-zircon-50 hidden">
    {
      menuItems.map((item) => (
        <a href={item.href} class="hover:text-zircon-200">
          {item.name}
        </a>
      ))
    }
    <SocialMedia />
  </div>
</nav>
