---
import { menuItems } from "@/utils/data";
import SocialMedia from "@/components/SocialMedia.astro";
import { Menu } from "@/icons/index.astro";

const props = Astro.props;
---

<a href="#menu" class="w-full flex justify-center">
  <img
    id="logo"
    src="LOGO_UNAHUR.webp"
    alt="Logo del coro de la Universidad Nacional de Hurlingham"
    class="fixed z-50 w-16 h-14"
  />
</a>
<nav
  id="navbar"
  class:list={[
    "bg-cinder-950 rounded-b-lg flex flex-row justify-end py-4 laptop:px-12 px-6 fixed top-0 left-0 right-0 w-full -translate-y-full items-center",
    props.class,
  ]}
>
  <div class="laptop:hidden relative"><Menu /></div>
  <div class="laptop:flex flex-row gap-4 text-zircon-50 hidden">
    {
      menuItems.map((item) => (
        <a href={item.href} class="hover:text-zircon-200">
          {item.name}
        </a>
      ))
    }
    <SocialMedia />
  </div>
</nav>

<style>
  #logo {
    animation: traslateLogoDesktop auto linear;
    animation-timeline: scroll(root block);
    transform: translateX(-50%) scale(1.5);
    top: 2rem;
  }
  #navbar {
    animation: downNavbar auto linear;
    animation-timeline: scroll(root block);
  }
  @media (max-width: 1024px) {
    #logo {
      animation: traslateLogoMobile auto linear;
      animation-timeline: scroll(root block);
      transform: translateX(-50%) scale(1.5);
      top: 2rem;
    }
  }

  @keyframes traslateLogoDesktop {
    0% {
      left: 50%;
    }
    7% {
      top: 0.25rem;
      left: 10%;
      transform: scale(0.7);
    }
    100% {
      top: 0.25rem;
      left: 10%;
      transform: scale(0.7);
    }
  }

  @keyframes traslateLogoMobile {
    0% {
      left: 50%;
    }
    7% {
      top: 0.75rem;
      left: 10%;
      transform: scale(0.7);
    }
    100% {
      top: 0.75rem;
      left: 10%;
      transform: scale(0.7);
    }
  }

  @keyframes downNavbar {
    0% {
      transform: translateY(-100%);
    }
    7% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
