---
import CardConciertos from "@/components/CardConciertos.astro";
---

<section id="conciertos" class="p-5 bg-cinder-950 h-auto">
  <h2 class="text-zircon-50 text-2xl font-semibold">Conciertos</h2>
  <article
    class="py-16 laptop:px-28 tablet:px-12 grid grid-cols-1 laptop:grid-cols-4 tablet:grid-cols-3 gap-5"
  >
    <CardConciertos
      image="bgDesktop.webp"
      titulo="Ciclo Coral Resplandor"
      fecha="Sábado 15 de junio"
      hora="18hs"
      lugar="Centro Cultural Leopoldo Marechal"
      calle="Av.Gob. Vergara 2396, Tesei"
    />
    <CardConciertos
      image="bgDesktop.webp"
      titulo="Ciclo Coral Resplandor"
      fecha="Sábado 15 de junio"
      hora="18hs"
      lugar="Centro Cultural Leopoldo Marechal"
      calle="Av.Gob. Vergara 2396, Tesei"
    />
    <CardConciertos
      image="bgDesktop.webp"
      titulo="Ciclo Coral Resplandor"
      fecha="Sábado 15 de junio"
      hora="18hs"
      lugar="Centro Cultural Leopoldo Marechal"
      calle="Av.Gob. Vergara 2396, Tesei"
    />
    <CardConciertos
      image="bgDesktop.webp"
      titulo="Ciclo Coral Resplandor"
      fecha="Sábado 15 de junio"
      hora="18hs"
      lugar="Centro Cultural Leopoldo Marechal"
      calle="Av.Gob. Vergara 2396, Tesei"
    />
    <CardConciertos
      image="bgDesktop.webp"
      titulo="Ciclo Coral Resplandor"
      fecha="Sábado 15 de junio"
      hora="18hs"
      lugar="Centro Cultural Leopoldo Marechal"
      calle="Av.Gob. Vergara 2396, Tesei"
    />
  </article>
</section>
