---
const { className } = Astro.props;
---

<a href="#menu" class="flex justify-center">
  <img
    id="logo"
    src="LOGO_UNAHUR.webp"
    alt="Logo del coro de la Universidad Nacional de Hurlingham"
    class:list={[" aspect-square", className]}
  />
</a>
