---
import SidebarButton from "@components/SidebarButton.astro";
import ScrollArrow from "@components/ScrollArrow.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? title}</title>
  </head>
  <body>
    <nav>
      <SidebarButton />
      <ScrollArrow />
    </nav>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-apple-50: #f0faeb;
    --color-apple-100: #dff3d4;
    --color-apple-200: #c1e9ad;
    --color-apple-300: #9ad97d;
    --color-apple-400: #77c754;
    --color-apple-500: #55a534;
    --color-apple-600: #428828;
    --color-apple-700: #346922;
    --color-apple-800: #2d5420;
    --color-apple-900: #28481f;
    --color-apple-950: #12270c;

    --color-greenPea-50: #f1f8f4;
    --color-greenPea-100: #deeee2;
    --color-greenPea-200: #bedcc9;
    --color-greenPea-300: #92c3a8;
    --color-greenPea-400: #63a481;
    --color-greenPea-500: #428765;
    --color-greenPea-600: #306b4f;
    --color-greenPea-700: #285943;
    --color-greenPea-800: #204534;
    --color-greenPea-900: #1b392c;
    --color-greenPea-950: #0e2018;

    --color-cerulean-50: #edfcfe;
    --color-cerulean-100: #d1f5fc;
    --color-cerulean-200: #a8ebf9;
    --color-cerulean-300: #6ddcf3;
    --color-cerulean-400: #2ac2e6;
    --color-cerulean-500: #0ea6cd;
    --color-cerulean-600: #0f84ab;
    --color-cerulean-700: #136a8b;
    --color-cerulean-800: #195771;
    --color-cerulean-900: #194960;
    --color-cerulean-950: #0a2f42;

    --color-zircon-50: #f5faff;
    --color-zircon-100: #e0effe;
    --color-zircon-200: #badffd;
    --color-zircon-300: #7dc6fc;
    --color-zircon-400: #38aaf8;
    --color-zircon-500: #0e8fe9;
    --color-zircon-600: #0270c7;
    --color-zircon-700: #0359a1;
    --color-zircon-800: #074c85;
    --color-zircon-900: #0c406e;
    --color-zircon-950: #082849;

    --color-swirl-50: #f8f6f4;
    --color-swirl-100: #eeeeb6;
    --color-swirl-200: #dbd2c9;
    --color-swirl-300: #c7b8aa;
    --color-swirl-400: #af9988;
    --color-swirl-500: #9b8170;
    --color-swirl-600: #927264;
    --color-swirl-700: #7a5e54;
    --color-swirl-800: #644448;
    --color-swirl-900: #52413c;
    --color-swirl-950: #2b221f;

    --color-cinder-50: #f7f1f8;
    --color-cinder-100: #efedf1;
    --color-cinder-200: #dad8df;
    --color-cinder-300: #b6c3c3;
    --color-cinder-400: #94a8e2;
    --color-cinder-500: #777087;
    --color-cinder-600: #615a6f;
    --color-cinder-700: #504a5a;
    --color-cinder-800: #443d4f;
    --color-cinder-900: #3c3842;
    --color-cinder-950: #1d1b20;

    --color-bg: #2c001b;
    --color-bg-transparent: rgba(87, 1, 54, 0.5);

    --color-text: var(--color-zircon-50);
    --color-text-secondary: var(--color-greenPea-950);

    --color-primary: var(--color-apple-300);
    --color-primary-hover: var(--color-apple-400);

    --color-secondary: var(--color-cerulean-500);
    --color-secondary-hover: var(--color-cerulean-600);
  }

  html {
    scroll-behavior: smooth;
    font-family:
      Roboto,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif sans-serif;
  }

  body {
    color: var(--color-text);
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
  }

  body::-webkit-scrollbar {
    display: none;
  }
</style>
