---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Web del Coro de la Universidad Nacional de Hurlingham"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-cinder-950">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    scroll-behavior: smooth;
    scroll-margin: 0px;
    font-family:
      Roboto,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif sans-serif;
  }
  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
  nav {
    grid-row: 1;
  }
  footer {
    grid-row: 3;
  }
</style>
