---
import Imagenes from "./Imagenes.astro";
import Reels from "./Reels.astro";
---

<section
  id="galeria"
  class="relative h-auto w-auto p-5 bg-cinder-950 justify-center items-center flex flex-col gap-5"
>
  <h2 class="text-zircon-50 text-4xl font-semibold">Galeria</h2>

  <Imagenes />
  <Reels />
</section>
